/* 全体背景 */
.stApp {
  background-color: #f7f9fc;
}

/* タイトル */
h1 {
  color: #1e3a5f;
}

/* ドラッグ&ドロップ枠 */
[data-testid="stFileUploader"] section {
  border: 2px dashed #4a90e2 !important;
  background-color: #eef6ff !important;
  border-radius: 12px;
  padding: 20px;
}

/* ドラッグ&ドロップ文字 */
[data-testid="stFileUploader"] p,
[data-testid="stFileUploader"] span,
[data-testid="stFileUploader"] small {
  color: #1e3a5f !important;
  font-weight: bold;
}

/* サイドバー */
section[data-testid="stSidebar"] {
  background-color: #efd0d0;
}

/* ボタン */
.stButton button {
  background-color: #4a90e2;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
}

.stButton button:hover {
  background-color: #357abd;
  color: white;
}

/* ダウンロードボタン */
.stDownloadButton button {
  background-color: #2e8b57;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.stDownloadButton button:hover {
  background-color: #256f46;
}

/* 「機能を選択」の文字 */
[data-testid="stSidebar"] label {
  color: #01070c !important;
  font-weight: bold;
}

/* selectbox本体 */
[data-baseweb="select"] > div {
  color: #1e3a5f !important;
  border-radius: 10px !important;
}

/* 選択中の文字 */
[data-baseweb="select"] span {
  color: #1e3a5f !important;
  font-weight: bold;
}
